/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Futura Md BT Medium';
    font-style: normal;
    font-weight: normal;
    src:local("Futura Md Bt"), url('/assets/fonts/futura_medium_bt-webfont.woff') format('woff');
    }

   
