.div_border{
    border: 1px solid #000000;
}

.heading{
    padding-top:45px;
    height:150px;
    width: 100%;
    background: #000000;
    color:#ffffff;
    font-family: Futura Md Bt;
    font-size: 60px;
    text-align: center;
}

.text-center{
    text-align:center;
}

.text_box{
    width: 500px;
    height:60px;
    color: 12px;
    border-left:0 solid transparent;
    border-top:0 solid transparent;
    border-right:0 solid transparent;
    border-bottom: 2px #ff0000 solid;
    margin-top:5px;
    outline: none;
    padding-left: 20px;
}

.radio_btn{
    margin-left: 20px;
width: 200px;
height: 80px;
background : #ffffff;
color :#cccccc;
font-size:12px;
border: 1px #ff0000 solid;
border-radius:10px;
outline: none;
}

.radio_btn:focus, .radio_btn:hover{
    background: red;
    color:white;
}

.margin-20{
    margin-top:20px;
}

.submit_btn{
    width:500px;
    height:100px;
    background: #cccccc;
    color: #ffffff;
    border-radius: 10px;
    font-size: 24px;
    outline: none;
}


.table-design{
    padding:10px;
    background:#ffffff;
    color:#000000;
    font-size:10px;
    border: 1px #cccccc solid;
    border-radius:10px;
}

.table-header{
       height:50px;
       padding:5px;
       font-weight: bold;
}

.row-height{
       height:30px;  
}

.margin-btm-20{
    margin-bottom: 20px;
}