<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 div_border">
      <h1 class="heading">SUNTIST</h1>
      <section>
        <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8 text_center">
              <input class="text_box" type="text" placeholder="Enter your name" formControlName="name">
              <input class="text_box" type="text" placeholder="Enter your age" formControlName="age">
              <div class="row" class="margin-20">
                <div class="col-md-4">
                  <input type="button" value="Male" #male class="radio_btn" (click)="setSex(male)">
                </div>
                <div class="col-md-4">
                  <input type="button" value="Female" #female class="radio_btn" (click)="setSex(female)">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
              <input class="submit_btn margin-20" type="submit" value="Submit">
            </div>
          </div>
        </form>
      </section>

      <div class="row margin-20">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row table-design">
            <div class="col-md-12">
              <div class="row table-header">
                <div class="col-md-6">Name</div>
                <div class="col-md-3">Age</div>
                <div class="col-md-3">Sex</div>
              </div>
              <div class="row row-height" *ngFor="let person of personList">
                <div class="col-md-6">{{person.name}}</div>
                <div class="col-md-3">{{person.age}}</div>
                <div class="col-md-3">{{person.sex}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-20 margin-btm-20">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row table-design">
            <div class="col-md-12">
              <div class="row table-header">
                <div class="col-md-3">Category</div>
                <div class="col-md-9">Description</div>
              </div>
              <div class="row row-height" *ngFor="let result of results">
                <div class="col-md-3">{{result.category}}</div>
                <div class="col-md-9">{{result.description}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>